[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
apturl = "*"
Brlapi = "*"
chardet = "*"
click = "*"
command-not-found = "*"
cryptography = "*"
defer = "*"
dj-database-url = "*"
django = "*"
flask-pymongo = "*"
flask = "*"
gunicorn = "*"
heroku = "*"
httplib2 = "*"
idna = "*"
itsdangerous = "*"
Jinja2 = "*"
keyring = "*"
launchpadlib = "*"
lazr.restfulclient = "*"
lazr.uri = "*"
Mako = "*"
MarkupSafe = "*"
oauth = "*"
pexpect = "*"
Pillow = "*"
ptyprocess = "*"
pyasn1 = "*"
pycrypto = "*"
pycups = "*"
pygobject = "*"
pymongo = "*"
pipenv = "*"
python-apt = "*"
python-dateutil = "*"
pyxdg = "*"
pyYAML = "*"
psycopg2 = "*"
requests = "*"
reportlab = "*"
secretStorage = "*"
sessionInstaller = "*"
simplejson = "*"
six = "*"
system-service = "*"
systemd-python = "*"
ufw = "*"
urllib3 = "*"
Werkzeug = "*"
whitenoise = "*"

[requires]
python_version = "3.*"
