[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
flask-pymongo = "*"
flask = "*"
gunicorn = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
pymongo = "*"
psycopg2 = "*"
Werkzeug = "*"
whitenoise = "*"

[requires]
python_version = "3.6.2"
