<html>
<head><head/>
	<body>
{% block cambiopass %}

<h2>Cambio de contraseña</h2>

<form id = "cambiopass" method = "POST" target = "/cambiopass">

<input type = "password" placeholder="Contraseña anterior" name = "anterior" />
<input type = "password" placeholder= "Nueva contraseña" name = "nueva1" />
<input type = "password" placeholder= "Repetir nueva contraseña" name = "nueva2" />
<input type = "submit" name = "inputcambio" value = "Cambiar contraseña" />

</form>

{% endblock %}
</body>

</html>
