
<!DOCTYPE html>
<html lang="en">
  <head>
{% block bootstrapCDN %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/estilo.css') }}" />
{% endblock %}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>App guay</title>

  </head>

<body>
<div class = "container">
	<header class = "jumbotron">
		<h1>NOMBRE muy original</h1>

	</header>
	<main class = "panel panel-default">
	<section class = "panel-body">
	<div class = "row">
		<div class="col-xs-4" id = "gestion-usuarios" >
			<h1>Aquí va la zona de usuarios</h1>
			<div class = "well well-lg">

			{% if session['logged_in'] is equalto True%}
				{% block logged %}
				<p>Bienvenid@ {{ session['usr'] }}.</p>
				<a href = "logout">Desconectar</a>


				<h2>Cambio de contraseña</h2>

				<form id = "cambiopass" method = "POST" target = "/cambiopass">

				<input type = "password" placeholder="Contraseña anterior" name = "anterior" />
				<input type = "password" placeholder= "Nueva contraseña" name = "nueva1" />
				<input type = "password" placeholder= "Repetir nueva contraseña" name = "nueva2" />
				<input type = "submit" name = "inputcambio" value = "Cambiar contraseña" />

				</form>

				{% endblock %}

			{% else %}

				{% block notlogged %}
					<form id = "login" method = 'POST'>

						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type = "text" placeholder = "Usuario" class = "form-control" name = "usr"/><br/>
						</div>

						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input type = "password" placeholder = "Contraseña" class = "form-control" name = "pwd"/><br/>
						</div>

						<p class = "text-danger">{{ session['msg'] }}</p>

						<div class = "btn-group">
							<button type = "submit" class = "btn btn-primary" name = "entrar">Entrar</button>
							<button type = "submit" class = "btn btn-primary" name = "registrar">Registrar</button>
						</div>
					</form>
				{% endblock %}
			{% endif %}
		</div>


		</div>
		<div class="col-xs-8" id = "movidas">
			<h1>Aquí todo lo demás</h1>
			<ul class = "nav nav-pills" id = "menu">
				<li class = "active"><a data-toggle = "pill" href = "#rec1">Recurso 1</a></li>
				<li><a data-toggle = "pill" href = "#rec2">Recurso 2</a></li>
				<li><a data-toggle = "pill" href = "#rec3">Recurso 3</a></li>
			</ul>

			<div class = "tab-content">
				<div id = "rec1" class = "tab-pane fade in active">
					<p>Movidas del recurso 1</p>
				</div>

				<div id = "rec2" class = "tab-pane fade">
					<p>Movidas del recurso 2</p>
				</div>

				<div id = "rec3" class = "tab-pane fade">
					<p>Movidas del recurso 3</p>
				</div>


		</div>
	</div>
	</section>
	<footer class = "panel-footer">Yo me llamo Ralph!</footer>
	</main>
</div>
</body>

</html>
