
<!DOCTYPE html>
<html lang="en">

<head>
{% block bootstrapCDN %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/estilo.css') }}" />

{% endblock %}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>App guay</title>

	<script>
		$(document).ready(function(){
			$("#pr").click(function(){
				$("#cambiopass").slideToggle("slow");
			});

			$("#fondo-azul").click(function(){
				document.body.style.backgroundColor = "#8dacdd";
			});

			$("#fondo-rojo").click(function(){
				document.body.style.backgroundColor = "#f45942";
			});

			$("#fondo-verde").click(function(){
				document.body.style.backgroundColor = "#86e57e";
			});

			$("#cc").click(function(){
				$("#consulta-calendario").slideToggle("slow");
			});

		});

	</script>

</head>

<body>
<div class = "container">

	<header class = "jumbotron">
		<h1>NOMBRE muy original</h1>
	</header>

	<main class = "panel panel-default">

	<section class = "panel-body">
	<div class = "row">
		<div class="col-xs-4" id = "gestion-usuarios" >
			<div class = "well well-lg">
			{% if session['logged_in'] is equalto True%}
				{% block logged %}
				<p>Bienvenid@ {{ session['usr'] }}.
				<a href = "logout">Desconectar</a></p>
				<br /><br />


				<button type="button" id = "pr" class="btn btn-info">Cambiar contraseña</button>

				<p class = "text-danger">{{ session.get('msg') }}</p>
				<form id = "cambiopass" method = "POST" action = "cambiopass" class = "escondido">

				<div class="input-group">
    			<label for="pwd1">Contraseña actual:</label>
				<input type = "password" placeholder="Contraseña actual" name = "anterior" class = "form-control"  />
				</div><br />

				<div class="input-group">
    			<label for="pwd2">Nueva contraseña:</label>
				<input type = "password" placeholder= "Nueva contraseña" name = "nueva1" class = "form-control" />
				</div><br />

				<div class="input-group">
    			<label for="pwd3">Repetir nueva contraseña:</label>
				<input type = "password" placeholder= "Repetir nueva contraseña" name = "nueva2" class = "form-control" />
				</div><br />

				<div class = "btn-group">
				<input type = "submit" name = "inputcambiopass" value = "Cambiar" class = "btn btn-primary" />
				</div>

				</form>

				{% endblock %}

			{% else %}

				{% block notlogged %}
				<p class = "info">NOTA: Tanto la contraseña como el nombre de usuario deben tener de 6 a 20 caracteres.</p>
	<form id="login" method = 'POST'>
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input type = "text" placeholder = "Usuario" class = "form-control" name = "usr" required>
		</div>

		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input type = "password" placeholder = "Contraseña" class = "form-control" name = "pwd"/><br/>
		</div>

		<p class = "text-danger">{{ session['msg'] }}</p>

		<div class = "btn-group">
		<button type = "submit" class = "btn btn-primary" name = "entrar">Entrar</button>
		<button type = "submit" class = "btn btn-primary" name = "registrar">Registrar</button>
		</div>
	</form>
				{% endblock %}
			{% endif %}
		</div>
		</div>

		<div class="col-xs-8" id = "movidas">
			<ul class = "nav nav-pills" id = "menu">
				<li class = "active"><a data-toggle = "pill" href = "#rec1">Recurso 1</a></li>
				<li><a data-toggle = "pill" href = "#rec2">Recurso 2</a></li>
				<li><a data-toggle = "pill" href = "#rec3">Recurso 3</a></li>
			</ul>

			<div class = "tab-content">
				<div id = "rec1" class = "tab-pane fade in active">
					<button id = "cc" type = "button" class = "btn btn-primary btn-block">Consultar calendario</button>

					<!-- HTML para la consulta del calendario -->
					<div id = "consulta-calendario" class = "escondido">
						<br />
						<!-- Formulario de consulta -->

						<!-- Tabla resultados -->
						<table class = "table">
							<thead class = "thead-dark">
							<tr>
								<th scope = "col">#</th>
								<th scope = "col">Hora</th>
								<th scope = "col">Usuario</th>
							</tr>
							</thead>
						</table>
					</div>
					{% if session.get('logged_in') is equalto True %}
					<button type = "button" class = "btn btn-primary btn-block">Hacer reserva</button>
					<button type = "button" class = "btn btn-primary btn-block">Eliminar reservas</button>
					{% endif %}
				</div>

				<div id = "rec2" class = "tab-pane fade">
					<p>Movidas del recurso 2</p>
				</div>

				<div id = "rec3" class = "tab-pane fade">
					<p>Movidas del recurso 3</p>
				</div>


			</div>
		</div>
	</div>
	</section>

	<footer class = "panel-footer">
		<button id = "fondo-azul" type="button" class="btn btn-sm azul" active><span class="glyphicon glyphicon-pencil"></span> </button>
		<button id = "fondo-rojo"  type="button" class="btn btn-sm rojo"><span class="glyphicon glyphicon-pencil"></span> </button>
		<button id = "fondo-verde"  type="button" class="btn btn-sm verde"><span class="glyphicon glyphicon-pencil"></span> </button>
	</footer>

	</main>

</body>
</html>
